body {
    margin: 0;
    padding: 0;
}

/* Styles pour le contenu principal */
.marketplace {
    text-align: center;
    background-color: #333333;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: -20px;
    width:100%;
    margin-right: 1000px;
    margi-left:auto;
}

#p1 {
    font-size: 20px;
    color: white;
}

#p2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
/* Style pour le conteneur du formulaire */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour les étiquettes et les champs du formulaire */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

/* Style pour le bouton de soumission */
button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}