/* Réinitialisation des marges et des rembourrages */
body {
  margin: 0;
  padding: 0;
}

/* Styles pour l'en-tête */
.header {
  background-color: blue;
  padding-top: 0px;
}

/* Styles pour la barre de recherche */
.bande1 {
    background-color: #f5f5f5;
    padding-bottom: 40px;
    position: relative;
    margin-top:0px;
    padding:0px;/* Permet de positionner les éléments enfants de manière absolue */
}
.case {
    position: absolute;
    top: 18px;
    left: 103px;
    height: 27px;
    border-radius: 10px 0 0 10px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.2);
}

.case:focus {
  outline: none;
}

.case:hover {
  background-color: white;
}
.rechercher {
    position: absolute;
    top: 18px;
    left: 487px;
    height: 33px;
    color: black;
    background-color: #f5f5f5;
    width: 100px;
}

.rechercher:hover {
  color: white;
  background-color: blue;
}
.align {
    display: flex;
    margin-top: 0px;
    list-style-type: none;
    
}
#m1{
	text-indent: 1120px;
	font-size:30px;
	margin-top: 20px;
	text-decoration:none;
	color:black;
	position: relative;
	bottom:-20px;
	left: 1135px;
}
#slash{
	text-indent: 1220px;
	font-size:40px;
	margin-top: 13px;
}
#m2{
	
	font-size:30px;
	text-decoration:none;
	color: black;
	position: absolute;
	bottom:45px;
	right: 135px;
}


.facture, .panier {
    width: 31px;
    height: 34px;
    position: absolute;
    top: 20px;
}

.facture {
   left: 1470px;
}

.panier {
    
     left: 1270px;
}

/* Styles pour le contenu principal */
.marketplace {
    text-align: center;
    background-color: #333333;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-top: -20px;
}

#p1 {
    font-size: 40px;
    color: white;
}
#p2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

/* Styles pour la section de navigation */
.section1 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section1 ul li {
    display: inline-block;
    margin-right: 150px;
    
}
.section1 ul li a{
	text-decoration: none;
	color:#333333;
}
.section1 ul li a:hover{
	color: blue;
}

.section1 {
    background-color: #f5f5f5;
    color: #333333;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

/* Styles pour la section de détails du produit */
.section2 {
  display: flex;
   align-items: flex-start;
  padding: 40px 20px;
  
}

.imageProduit {
 margin-left: 110px;
 width:650px;
}

.imageProduit img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.imageProduit img:hover {
    transform: scale(1.05); /* Zoom de l'image au survol */
}

.infoProduit {
  max-width: 500px;
  margin-left: 700px;
  margin-top:-300px;
  position:relative;
  bottom:150px;
  right: -150px;
}

.infoProduit h1 {
  font-size: 56px;
  margin-bottom: 20px;
 
}

.infoProduit p {
  font-size: 18px;
  margin-bottom: 20px;
}

.infoProduit button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.infoProduit button:hover {
  background-color: darkblue;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    margin-right: 150px;
   
}
.footer h1{
	color: white;
}

.footer ul li:hover {
    color: white;
}
.footer ul li a{
	text-decoration: none;
	 color: rgba(255, 255, 255, 0.5);
}
.footer ul li a:hover{
	color: white;
}

.footer {
    background-color: #333333;
     color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 50px;
}
