<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vos categories</title>
    <link rel="stylesheet" href="/categorie.css">
</head>
<body>
<header class="header">
    <div class="bande1">
        <input type="text" placeholder="Rechercher un produit..." class="case">
        <button class="rechercher" type="submit">Rechercher</button>

        <ul class="align">
           <li><a href="/Panier/AfficherPanier"><img class="panier" src="/img/panier.png"></a></li>
            <li>
              <a id="m1" href="/Panier/AfficherPanier">
                <span>panier</span>
              </a>
            </li>
            
            <li><p id="slash">|</p></li>
            <li><a href="/Facture/AllFactures"><img class="facture" src="/img/compte1.png"></a></li>
           
            <li><a id="m2" href="/Facture/AllFactures">
                      <span>facture</span>      
                </a>
            </li>
        </ul>
    </div>
    <div class="marketplace">
        <h1 id="p1">MARKET PLACE</h1>
        <p id="p2">Notre site de vente de matériel informatique</p>
    </div>
</header>
<main class="main">
    <section class="section1">
         <ul>
            <li id="o1"><a th:href="@{/Categories/voirTout}">Voir tout</a></li>
            <li id="o2"><a th:href="@{/Categories/categorie/1}">Ordinateur</a></li>
            <li id="o3"><a th:href="@{/Categories/categorie/2}">Tablette</a></li>
            <li id="o4"><a th:href="@{/Categories/categorie/3}">Téléphone portable</a></li>
            <li id="o5"><a th:href="@{/Categories/categorie/4}">Pièce informatique</a></li>
            <li id="o6"><a th:href="@{/Categories/categorie/5}">Équipement réseau</a></li>
        </ul>
    </section>
    <section class="section2">
        <h1 th:text="${categorie.nomCategorie}"></h1>

        <div class="ligneProduit">
        </div>
           <div class="produit" th:each="produit: ${categorie.produits}">    
              <a th:href="@{'/Produits/produitDetail/' + ${produit.idProduit} + '?idCategorie=' + ${categorie.idCategorie}}" id="a10">
                     <img th:alt="${produit.nomProduit}" class="image" th:src="@{${produit.imageProduit}}">
       
                     <span class="suppl">
                          <span id="t1" th:text="${produit.nomProduit}"></span>
                          <br>
                          <span id="t2" th:text="${produit.prixProduit}+ ' Franc CFA'"></span>
                      </span>
                   
             </a>
            
        </div>  
    </section>
</main>
<footer class="footer">
    <h1>acheter :</h1>
         <ul>
            <li id="o7"><a th:href="@{/Categories/voirTout}">Voir tout</a></li>
            <li id="o8"><a th:href="@{/Categories/categorie/1}">Ordinateur</a></li>
            <li id="o9"><a th:href="@{/Categories/categorie/2}">Tablette</a></li>
            <li id="o10"><a th:href="@{/Categories/categorie/3}">Téléphone portable</a></li>
            <li id="o11"><a th:href="@{/Categories/categorie/4}">Pièce informatique</a></li>
            <li id="o12"><a th:href="@{/Categories/categorie/5}">Équipement réseau</a></li>
        </ul>
</footer>
</body>
</html>