
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/compteConnexion.css">
     
</head>
<body>
    <header class="header">
        <div class="marketplace">
            <h1 id="p1">HARDWARE MARKET</h1>
            <p id="p2">Connexion</p>
        </div>
    </header>
    <main class="main">
        <section class="section2">
            <div class="connexion-container">
            
                <form th:action="@{/Compte/creerConnexionProduit}" method="post">
				    <input type="hidden" name="idProduit" th:value="${idProduit}">
				    <input type="hidden" name="idCategorie" th:value="${idCategorie}">
				    
				    <label for="emailClient">Adresse Email :</label>
				    <input type="email" id="emailClient" name="emailClient" required>
				    
				    <label for="motDePasseClient">Mot de passe :</label>
				    <input type="password" id="motDePasseClient" name="motDePasseClient" required>
				    
				    <button type="submit" class="btn-connexion">Continuer</button>
				</form>

            </div>
        </section>
    </main>
</body>
</html>
