<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Compte</title>
    <link rel="stylesheet" href="/compteVerification.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn-creer-compte").click(function() {
                var idPanier = new URLSearchParams(window.location.search).get('idPanier');
                window.location.href = "/Compte/creerCompteFormPanier?idPanier="+ idPanier;
            });
            $(".btn-connexion").click(function() {

                var idPanier = new URLSearchParams(window.location.search).get('idPanier');
                window.location.href = "/Compte/compteConnexionPanier?idPanier="+ idPanier;
            });
        });
    </script>
</head>
<body>
<header class="header">
    <div class="marketplace">
        <h1 id="p1">HARDWARE MARKET</h1>
        <p id="p2">Notre site de vente de matériel informatique</p>
    </div>
</header>
<main class="main">
    <section class="section2">
        <div class="connexion-container">
            <h1>Avez-vous un compte?</h1>
            <div class="options">
                <button class="btn-creer-compte">Créer un compte</button>
                <button class="btn-connexion">Connexion</button>
            </div>
        </div>
    </section>
</main>
</body>
</html>
