<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/listeFacture.css">
    <title>Liste des Factures</title>
</head>
<body>
    <header class="header">
        <div class="marketplace">
            <h1 id="p1">HARDWARE MARKET</h1>
            <p id="p2">Liste de facture du produit</p>
        </div>
    </header>

    <div class="buttons-container">
        <a href="/Facture/AllFacturesProduits" class="button">Facture Produits</a>
        <a href="/Facture/AllFacturesPaniers" class="button">Facture Paniers</a>
    </div>
</body>
</html>

