<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passer Commande</title>
    <link rel="stylesheet" href="/passerCommande.css"> 
</head>
<body>
    <header class="header">
        <div class="marketplace">
            <h1 id="p1">MARKET PLACE</h1>
            <p id="p2">Passer une commande</p>
        </div>
    </header>

    <form id="commandeForm" th:action="@{/Commande/creerCommande}" th:object="${commande}" method="post" >
        <h1>Passer une commande</h1>
        <p>Nom du produit : <span th:text="${produit != null ? produit.nomProduit : ''}"></span></p>
        <p>Prix : <span th:text="${produit != null ? produit.prixProduit : ''}+' FCFA'"></span></p>
        <p>Nom du client : <span th:text="${client != null ? client.nomClient : ''}"></span></p>
        <p>ID du compte : <span th:text="${client != null ? client.idClient : ''}"></span></p>
        <p>Date de la commande : <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span></p>

        <label for="dateLivraison">Date de livraison :</label>
        <input type="date" id="dateLivraison" name="dateLivraisonCommande" th:field="*{dateLivraisonCommande}" required><br>

        <input type="hidden" name="idProduit" th:value="${produit != null ? produit.idProduit : ''}">
        <input type="hidden" name="idClient" th:value="${client != null ? client.idClient : ''}">
        <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}">

        

        <button type="submit">Paiement</button>
    </form>
</body>
</html>