<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acceuil</title>
    <link rel="stylesheet" href="/voirTout.css">
</head>
<body>
<header class="header">
    <div class="bande1">
        <input type="text" placeholder="Rechercher un produit..." class="case">
        <button class="rechercher" type="submit">Rechercher</button>

        <ul class="align">
            <li><img class="panier" src="/img/panier.png"></li>
            <li><p id="m1">panier</p></li>
            <li><p id="slash">|</p></li>
            <li><img class="facture" src="/img/compte1.png"></li>
            <li><p id="m2">facture</p></li>      
        </ul>
    </div>
    <div class="marketplace">
        <h1 id="p1">MARKET PLACE</h1>
        <p id="p2">Notre site de vente de matériel informatique</p>
    </div>
</header>
<main class="main">
     <section class="section1">
        <ul>
            <li id="o1"><a th:href="@{/Categories/voirTout}">Voir tout</a></li>
            <li id="o2"><a th:href="@{/Categories/AfficherProduitCategorie/1}">Ordinateur</a></li>
            <li id="o3"><a th:href="@{/Categories/AfficherProduitCategorie/2}">Tablette</a></li>
            <li id="o4"><a th:href="@{/Categories/AfficherProduitCategorie/3}">Téléphone portable</a></li>
            <li id="o5"><a th:href="@{/Categories/AfficherProduitCategorie/4}">Pièce informatique</a></li>
            <li id="o6"><a th:href="@{/Categories/AfficherProduitCategorie/5}">Équipement réseau</a></li>
        </ul>
    </section>
   <section class="section2">
    <h1 >Voir tout :</h1>
     <div class="ligneProduit">
        </div>
       <div class="categories-container">
            <div class="categorie" th:each="categorie : ${voirTout}">
            
                 <a th:href="@{/Categories/AfficherProduitCategorie/{idCategorie}(idCategorie=${categorie.idCategorie})}">
                      <span class="categorie-circle">
                          <img th:alt="${categorie.nomCategorie}" class="image" th:src="@{${categorie.imageCategorie}}">
                     </span>
                 </a>
                 <a th:href="@{/Categories/AfficherProduitCategorie/{idCategorie}(idCategorie=${categorie.idCategorie})}">     
                  <span class="categorie-name" th:text="${categorie.nomCategorie}"></span>
                  </a>
           </div>
      </div>
</section>

</main>
<footer class="footer">
    <h1>acheter :</h1>
    <ul>
            <li id="o7"><a th:href="@{/Categories/voirTout}">Voir tout</a></li>
            <li id="o8"><a th:href="@{/Categories/AfficherProduitCategorie/1}">Ordinateur</a></li>
            <li id="o9"><a th:href="@{/Categories/AfficherProduitCategorie/2}">Tablette</a></li>
            <li id="o10"><a th:href="@{/Categories/AfficherProduitCategorie/3}">Téléphone portable</a></li>
            <li id="o11"><a th:href="@{/Categories/AfficherProduitCategorie/4}">Pièce informatique</a></li>
            <li id="o12"><a th:href="@{/Categories/AfficherProduitCategorie/5}">Équipement réseau</a></li>
        </ul>
</footer>
</body>
</html>
